<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

{% assign my_collection = collections[section.settings.collection] %}

<div class="swiper fract-product-swiper" id="product-slider-{{ section.id }}">
  <div class="swiper-wrapper">
   {% if my_collection and my_collection.products_count != blank and my_collection.products_count > 0 %}
      {% for product in my_collection.products %}
        <div class="swiper-slide">
          {% render 'product-card', product: product %}
        </div>
      {% endfor %}
    {% else %}
      <p style="width:95%; margin: 30px auto; text-align:center; text-transform:uppercase; letter-spacing:0.5px;">Please choose a collection</p>
    {% endif %}
  </div>
</div>
{% if section.settings.primary_button_text != blank %}
<div class="swiper-button-main">
  {% if my_collection %}
    <a href="{{ my_collection.url }}" class="button-skew fract-primary">
      {{ section.settings.primary_button_text }}
    </a>
  {% endif %}
</div>
    {% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (typeof Swiper !== 'undefined') {
      new Swiper('#product-slider-{{ section.id }}', {
        slidesPerView: 4,
        spaceBetween: 0,
        loop: true,
        breakpoints: {
          320: { slidesPerView: 1.2, spaceBetween: 10 },
          640: { slidesPerView: 2.2, spaceBetween: 15 },
          1024: { slidesPerView: 5.2, spaceBetween: 15 },
        }
      });
    } else {
      console.error('Swiper JS not loaded.');
    }
  });
</script>

{% stylesheet %}
  .fract-product-swiper .product-card__info {
    padding: 1.2rem;
  }

  .swiper-button-main {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px 1rem 30px 1rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product Slider",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose collection"
    },
    {
      "type": "text",
      "id": "primary_button_text",
      "label": "Button text",
      "default": "Shop the Collection",
      "info": "To hide button leave empty"
    }
  ],
  "presets": [
    {
      "name": "Product Slider"
    }
  ]
}
{% endschema %}
