{% schema %}
{
  "name": "Collection Grid",
  "settings": [
    {
      "type": "range",
      "id": "per_row",
      "label": "Products per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Collection Grid"
    }
  ],
  "templates": ["collection"]
}
{% endschema %}


{% style %}
  :root {
    --grid-columns: {{ section.settings.per_row }};
  }
{% endstyle %}

<div class="page-width collection-title-grid">
  <div class="inner-title-grid-collection">
    <h2 class="collection-title">{{ collection.title }}</h2>
    <span class="product-count">{{ collection.products_count }} products</span>
  </div>
</div>

<div class="page-width custom-collection-grid">
  {% for product in collection.products %}
    <div class="grid-item">
      {% render 'product-card', product: product %}
    </div>
  {% endfor %}
</div>

<style>
  .collection-title-grid {
    padding-top: 60px;
  }
  .custom-collection-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    gap: 2rem;
    padding-bottom: 60px;
    padding-top: 30px;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 1024px) {
    :root {
      --grid-columns: 3;
    }
  }

  @media (max-width: 768px) {
    :root {
      --grid-columns: 2;
    }
  }

  @media (max-width: 480px) {
    :root {
      --grid-columns: 1;
    }
  }
</style>
