.main-cart-title {
  max-width:90%;
  margin:30px auto 30px auto;
  color:#121212;
}

.main-cart-title .cart-title {
  font-size: 32px;
}

.fract-cart {
  max-width:90%;
  margin:0 auto;
  display: grid;
  gap: 100px;
  align-items: center;
  grid-template-columns: 7fr 3fr;
}

.fract-cart .main-cart-items {
  width:100%;
}

.fract-cart .main-cart-items .cart-item{
    border-radius: 8px;
    background: white;
    margin-bottom:20px;
    padding: 2rem;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fract-cart .main-cart-items .cart-item td .image{
    height: auto;
    width: 110px;
    border-radius: 8px;
}

.cart-image-and-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-image-and-title .cart-product-title {
     font-size:16px;
}

.cart-image-and-title .title-and-remove a  {
    color:#121212;
  text-decoration: none;
  opacity:0.5;
  font-size:9px;
  letter-spacing: 1px;
}

.cart-item-price {
  font-weight: bold;
}