.main-cart-title {
  max-width:90%;
  margin:30px auto 30px auto;
  color:#121212;
}

.main-cart-title .cart-title {
  font-size: 32px;
}

.fract-cart {
  max-width:90%;
  margin:0 auto;
  display: grid;
  gap: 100px;
  align-items: flex-start;
  grid-template-columns: 7fr 3fr;
}

.fract-cart .main-cart-items {
  width:100%;
}

.fract-cart .main-cart-items .cart-item{
    border-radius: 8px;
    background: white;
    margin-bottom:20px;
    padding: 2rem;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fract-cart .main-cart-items .cart-item td .image{
    height: auto;
    width: 110px;
    border-radius: 8px;
}

.cart-image-and-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-image-and-title .cart-product-title {
     font-size:16px;
}

.cart-image-and-title .title-and-remove a  {
    color:#121212;
  text-decoration: none;
  opacity:0.5;
  font-size:9px;
  letter-spacing: 1px;
}

.cart-item-price {
  font-weight: bold;
}

.fract-cart .fract-footer-cart{
    border-radius: 8px;
    background: white;
    margin-bottom:20px;
    padding: 2rem;
    height:300px;
    flex-direction: column;
    gap:20px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.fract-cart .fract-footer-cart button{
 width:100%;
}

.fract-cart .fract-footer-cart .cart-summary {
  display: flex;
  width:100%;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.fract-cart .fract-footer-cart .cart-summary-row {
  display: flex;
  justify-content: space-between;
  font-size:13px;
}

.fract-cart .fract-footer-cart .cart-summary-row .label {
  font-weight:bold;
}

/* Mobile Layout */
@media screen and (max-width: 1025px) {
.fract-cart {
  max-width:90%;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  gap:30px;
  align-items: flex-start;
}

.fract-cart .main-cart-items {
  width:100%;
}

.fract-cart .main-cart-items .cart-item{
    border-radius: 8px;
    background: white;
    margin-bottom:20px;
    padding: 2rem;
    flex-direction: column;
    gap:10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
  .fract-cart .fract-footer-cart{ 
    width:100%;
}
}