.fract-main-product {
  max-width:85%;
  margin: 0 auto;
}

/* images and pop up */

.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease, /* Separated the opacity and transform transition for better control */
  pointer-events: none;
}

.image-popup.active {
  opacity: 1;
  pointer-events: auto;
}

.popup-inner {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: skewY(0deg); /* Keep inner content normal */
  transition: transform 0.3s ease; /* Smoothen transition for content */
}

.popup-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.hidden {
  display: none;
}

#view-more-images {
  position: absolute;
  bottom: 20px;
  background: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  left: 20px;
  border:none;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 10px;
  transition: background-color 0.3s, color 0.3s;
  }

#close-popup {
  position: absolute;
  top: 50px;
  background: #1b1b1b;
  color:white;
  background: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  left: 50px;
  border:none;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 10px;
  transition: background-color 0.3s, color 0.3s;
  }


/* Main Product */

.fract-main-product {
  display:flex;
  align-items: center;
  gap:60px;
}

.fract-main-product .product-images {
  position: relative;
  width:60%;
  border-radius:8px;
}

.fract-main-product .product-images img{
  border-radius:8px;
}

.fract-main-product .button-skew:hover {
  transition: transform 0.4s ease-in-out;
  transform: skew(3deg, 3deg);
}

.fract-main-product .button-skew:hover {
  transition: transform 0.4s ease-in-out;
}


.fract-main-product .fract-info-and-form {
  width:40%;
  border-radius:8px;
  background:white;
  padding:2rem
}

.fract-main-product .fract-info-and-form h1 {
  font-size:22px;
  margin-bottom:10px;
}

.fract-main-product .fract-info-and-form .variant-buttons {
  display:flex;
  gap:10px;
  align-items: center;
  width:100%;
  flex-wrap: wrap
}

.fract-main-product .fract-info-and-form .variant-buttons button
    height: 40px;
    width: fit-content;
    background: #121212;
    min-width: 50px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    border: none;
}
