.product-card {
  position: relative;
  overflow: hidden;
}

.product-card__link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.product-card__image-wrapper {
  position: relative;
  width: 100%;
}

.product-card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease;
}

.product-card__image.primary-image {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.product-card__image.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Desktop hover effect only */
@media (hover: hover) and (pointer: fine) {
  .product-card__image-wrapper:hover .hover-image {
    opacity: 1;
  }

  .product-card__image-wrapper:hover .primary-image {
    opacity: 0;
  }
}

.product-card__info {
    padding: 1.2rem 8px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card__title {
  font-size: 14px;
  margin: 0;
  width: 70%;
}

.product-card__price {
  color: #1b1b1b;
  font-size: 12px;
  margin: 0.25rem 0;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.product-card__more-styles {
  color: #1b1b1b;
  font-size: 12px;
  width: 100%;
  margin: 0.25rem 0;
}

.drop-badge {
  font-size: 13px;
 background: #D55653;
  padding: 5px;
  text-align: center;
    font-family: 'Quantico', sans-serif !important;
  color: white;
}
